<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dequesned Incline Memorandum</title>
    <meta name="author" content="Your name">
    <meta name="keywords" content="Carnegie Mellon University, Information Systems">
    <meta name="description" content="Your name professional website">
    <!-- link css -->
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/css/home.css">
    <!-- link javascript -->
    <script src="../static/script.js" defer></script>
    <!-- google font  -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inria+Serif:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
</head>
    <body>
        <header>
            <nav class = 'navbar'>
                <a href="../index.html">
                    <img class = 'logo' src="../static/images/logo.png" alt="Dequesned Incline logo" width = '123px' height = '88px'>
                </a>
                <div class = 'full-container dark-blue'>
                    <div class = 'all-nav-links'>
                    <ul class="nav-links">
                        <li><a href="./about.html">About</a></li>
                        <li><a href="./giftshop.html">Gift Shop</a></li>
                        <li><a href="./faqs.html">FAQs</a></li>
                        <li><a href="./mailing.html">Join Our Mailing List</a></li>
                    </ul>

                    <a href="./visit.html" class="primary-button">Plan Your Visit</a>
                    </div>
                </div>
            </nav>

            <div class="hero">
                <div class="hero-content">
                  <h1 class="hero-title inria-serif-bold">PLAN YOU VISIT TO THE INCLINE!</h1>
                  <p class="hero-subtitle inria-serif-regular">
                    visit the interior of the incline and watch the machinery while it operates.  
                  </p>
                </div>
            </div>
            
            
        </header>

        <div class = "main">
            
        </div>
        
        <footer class="site-footer">
            <div class="footer-top">
              <!-- Logo -->
              <div class="footer-logo">
                <img class = 'logo' src="../static/images/logo.png" alt="Dequesned Incline logo" width = '123px' height = '88px'>
              </div>
          
              <!-- Navigation Links -->
              <ul class="footer-nav">
                <li><a href="#">About</a></li>
                <li><a href="#">Gift Shop</a></li>
                <li><a href="#">FAQs</a></li>
                <li><a href="#">Join Our Mailing List</a></li>
                <li><a href="#" class="primary-button">Plan Your Visit</a></li>
              </ul>
            </div>
          
            <div class="footer-contact">
              <p>Phone: 412-381-1665</p>
              <p>Fax: 412-381-1943 | <a href="mailto:duq.incline@duquesneincline.org">duq.incline@duquesneincline.org</a></p>
              <p>Mailing: 1220 Grandview Ave. Pittsburgh, PA 15211</p>
            </div>
          
            <!-- Social Icons & Copyright -->
            <div class="footer-bottom">
              <ul class="footer-social">
                <li><a href="#"><img src="../static/images/socialmedia/facebook.png" alt="Facebook" /></a></li>
                <li><a href="#"><img src="../static/images/socialmedia/x.png" alt="X" /></a></li>
                <li><a href="#"><img src="../static/images/socialmedia/ins.png" alt="Instagram" /></a></li>
              </ul>
          
              <p class="copyright">
                &copy; 2025. All Rights Reserved.
              </p>
            </div>
        </footer>
        
    </body>
</html>