<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dequesned Incline Memorandum</title>
    <meta name="author" content="Your name">
    <meta name="keywords" content="Carnegie Mellon University, Information Systems">
    <meta name="description" content="Your name professional website">
    <!-- link css -->
    <link rel="stylesheet" href="../../static/css/style.css">
    <link rel="stylesheet" href="../../static/css/thingstodo.css">
    <!-- link javascript -->
    <script src="../../static/javascript/collapse.js" defer></script>
    <script src="../../static/script.js" defer></script>
    <!-- connect jquery -->
    <script src="https://code.jquery.com/jquery-3.7.1.js" 
            integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" 
            crossorigin="anonymous">
    </script>
    <!-- google font  -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inria+Serif:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
</head>
    <body>
        <!-- skip to main content -->
        <a class="skip-link" href="#main-content">Skip to main content</a>
        <header>
          <!-- nav bar -->
          <nav class = 'navbar'>
            <a href="../../index.html">
                <img class = 'logo' src="../../static/images/logo.png" alt="Dequesned Incline logo" width = '123' height = '88'>
            </a>
            <div class = 'full-container dark-blue'>
                <div class = 'all-nav-links'>
                <ul class="nav-links">
                    <li><a href="../../index.html">Home</a></li>
                    <li><a href="../../views/about.html">About</a></li>
                    <li><a href="../../views/giftshop.html">Gift Shop</a></li>
                    <li><a href="../../views/faqs.html">FAQs</a></li>
                    <li><a href="../../views/mailing.html">Join Our Mailing List</a></li>
                </ul>
                <div>
                    <a href="../../views/visit.html" class="primary-button" id = 'visit-nav'>Plan Your Visit</a>
                </div>
                </div>
            </div>
            <!-- hidden reveal after hover -->
            <div id = 'visit-hidden-nav' class = 'hide'>
                <ul>
                    <li><a href="../../views/visit/tickets.html">Tickets</a></li>
                    <li><a href="../../views/visit/directions.html">Directions</a></li>
                    <li><a href="../../views/visit/thingstodo.html">Things To Do</a></li>
                </ul>
            </div>
          </nav>

          <!-- landing image -->
            <div class="hero" id="thingstodo-hero" role="img" aria-label="view of the incline shop across the bridge">
                <div class="hero-content">
                  <h1 class="hero-title inria-serif-bold">
                    What to do at The
                    Duquesne Incline
                  </h1>
                  <p class="hero-subtitle inria-serif-regular">
                    Visit the interior of the incline and watch the machinery while it operates <br>

                    Explore the upper station houses a museum of Pittsburgh history <br>

                    Discover Unusual Pittsburgh souvenirs, maps and photos at the gift shop <br>
                  </p>
                </div>
            </div>
            
            
        </header>
        <!-- main content -->
        <div class = "main" id = 'main-content'>
          <div class="section-background white-background" id = 'thingstodo-single'>
            <div class = 'text-content'>
              <p class = 'bold'>
                A self guided walk includes:
              </p>
              <ul>
                <li>
                  A pictorial history of Pittsburgh's industry, inclines, sports venues, and natural disasters.
                </li>
                <li>  
                  A visit to the machine room to observe the original hoisting equipment from 1877 in operation.
                </li>
                <li>  
                  A panoramic view of Downtown Pittsburgh from the observation deck 400 feet above the three rivers.
                </li>
                <li>  
                  Also allow time for photos and a visit to our gift shop for post cards and souvenirs.
                </li>
              </ul>
            </div>
          </div>
          <!-- group tours -->
           <!-- links from the original website -->
          <div class="section-background yellow-background" id = 'thingstodo-group'>
            <h2 class="section-title"  >TOURS FOR LARGE GROUPS</h2>
        
            <div class="content flex-3">
              <div> 
                <div class="image-card bus-companies" role="img" aria-label="incline torlly">
                  <h3>For Bus Companies</h3>
                  <a href="https://form.jotform.com/240705601606145" class="card-btn" target = '_blank'>Book Now</a>
                </div>
                <div>
                  <p class = 'card-content'>
                    Our group scheduling option is perfect for bus companies 
                    planning visits. Enjoy streamlined booking for large parties 
                    and a hassle-free, scenic ride on the Duquesne Incline.
                  </p>
                </div>
              </div>

              <div>
                <div class="image-card patch-program"  role = 'img' aria-label="group of people inside the incline office">
                  <h3>PAtch program</h3>
                  <a href="https://form.jotform.com/240705601606145" class="card-btn" target = '_blank'>Book Now</a>                 
                </div>
                <p class = 'card-content'>
                  Take advantage of our school program, offering an educational 
                  field trip experience at no extra cost. Students benefit 
                  from engaging, hands-on learning with a free teacher's lesson packet.
                </p> 
              </div>
              <div>
                <div class="image-card youth"  role = 'img' aria-label="group of people visiting the incoine">
                  <h3>Students & Youth Groups </h3>
                  <a href="https://form.jotform.com/240705601606145" class="card-btn" target = '_blank'>Book Now</a>
                </div>
                <p class = 'card-content'>
                  Embark on our Patch Program to ride, learn, and earn a 
                  commemorative patch. This interactive experience brings 
                  the history of the incline to life while adding an extra 
                  layer of excitement to your visit.
                </p>
             </div>
          
            </div>
          </div>
          <!-- city tours -->
           <!-- collapsable menus -->
          <div class="section-background white-background">
            <h2 class="section-title"  >CITY TOURS FEATURING THE INCLINE</h2>
            <div class="content">
              
              <div class="collapse-item">
                <button class="collapse-question">
                  <span>PITTSBURGH TOURS AND MORE</span>
                  <span class="collapse-icon">+</span>
                </button>
                <div class="collapse-answer hide">
                  <p>
                    Pittsburgh Movie Locations, Sports, Breweries, Wineries and More.
                  </p>
                  <p>
                    <a href="http://www.pghtoursandmore.net" target="_blank">
                      www.pghtoursandmore.net
                    </a><br>
                    412-323-4707
                  </p>
                </div>
              </div>

              <div class="collapse-item">
                <button class="collapse-question">
                  <span>MOLLY'S TOLLEYS</span>
                  <span class="collapse-icon">+</span>
                </button>
                <div class="collapse-answer hide">
                  <p>
                    <a href="www.mollystrolleyspgh.com" target="_blank">
                      www.mollystrolleyspgh.com
                    </a><br>
                    412-281-2055
                  </p>
                </div>
              </div>

              <div class="collapse-item">
                <button class="collapse-question">
                  <span>RIVERS OF STEEL</span>
                  <span class="collapse-icon">+</span>
                </button>
                <div class="collapse-answer hide">
                  <p>
                    <a href="www.riversofsteel.com" target="_blank">
                      www.riversofsteel.com
                    </a><br>
                    412-464-4020 or 412-381-8687
                  </p>
                </div>
              </div>

              <div class="collapse-item">
                <button class="collapse-question">
                  <span>THE PITTSBURGH TOUR COMPANY</span>
                  <span class="collapse-icon">+</span>
                </button>
                <div class="collapse-answer hide">
                  <p>
                    Hop on/Hop off Double Decker tour buses from London.
                  </p>
                  <p>
                    <a href="www.pghtours.com" target="_blank">
                      www.pghtours.com
                    </a><br>
                    412-381-8687 
                  </p>
                </div>
              </div>

            </div>
</div>

          
        </div>
        
        <footer class="site-footer">
          <div class="footer-top">
            <!-- logo -->
            <div class="footer-logo">
              <img class = 'logo' src="../../static/images/logo.png" alt="Dequesned Incline logo" width = '123' height = '88'>
            </div>
            <!-- social media -->
            <ul class="footer-social">
              <li><a target = '_blank' href="https://www.facebook.com/TheDuquesneIncline/photos/"><img src="../../static/images/socialmedia/facebook.png" alt="Facebook"></a></li>
              <li><a target = '_blank' href="https://x.com/duquesneincline"><img src="../../static/images/socialmedia/x.png" alt="X"></a></li>
              <li><a target = '_blank' href="https://www.instagram.com/explore/locations/289145085/duquesne-incline-pittsburgh/?hl=en"><img src="../../static/images/socialmedia/ins.png" alt="Instagram"></a></li>
              <li><a target = '_blank' href="https://www.yelp.com/biz/duquesne-incline-pittsburgh"><img src="../../static/images/socialmedia/yelp.png" alt="Yelp"></a></li>
              <li><a target = '_blank' href="https://www.viator.com/Pittsburgh-attractions/Duquesne-Incline/d22639-a21677"><img src="../../static/images/socialmedia/viator.png" alt="Viator"></a></li>
              <li><a target = '_blank' href="https://www.visitpittsburgh.com/directory/duquesne-incline/"><img src="../../static/images/socialmedia/visitpittsburgh.png" alt="Visit Pittsburgh"></a></li>
              <li><a target = '_blank' href="https://en.wikipedia.org/wiki/Duquesne_Incline"><img src="../../static/images/socialmedia/wikipedia.png" alt="Wikipedia"></a></li>
            </ul>
        
            <!-- nav links -->
            <ul class="footer-nav">
              <li><a href="../../index.html">Home</a></li>
              <li><a href="../about.html">About</a></li>
              <li><a href="../giftshop.html">Gift Shop</a></li>
              <li><a href="../faqs.html">FAQs</a></li>
              <li><a href="../mailing.html">Join Our Mailing List</a></li>
              <li><a href="../visit.html" class="primary-button">Plan Your Visit</a></li>
            </ul>
          </div>
        
          <div class="footer-contact">
            <p>Phone: 412-381-1665</p>
            <p>Fax: 412-381-1943 | <a href="mailto:duq.incline@duquesneincline.org">duq.incline@duquesneincline.org</a></p>
            <p>Mailing: 1220 Grandview Ave. Pittsburgh, PA 15211</p>
          </div>
        
          <!-- copyright -->
          <div class="footer-bottom">
        
            <p class="copyright">
              &copy; 2025. All Rights Reserved.
            </p>
            <p>
              Photo credits to Expedia, Duquesne Incline, butlertransitauthority, transitapp, loomis
            </p>
          </div>
      </footer>
        
    </body>
</html>